:root {
   --color1: #131313;
   --color2: #1b2f46;
   --color3: #516e79;
   --color4: #ced3da;
   --color5: #e2e1e1;
   --color6: #ffffff;
   --redish:#f28b83;
   --greensih:#5bc8a1;
   --yellowish:#fff177;
 }
 

/* MOBILE FIRST DESIGN*/

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px;
}

a {
   color: var(--color6);
   width: max-content;
   text-decoration: none;
}

.padding {
   padding: 5px;
}

.margin {
   margin: 20px;
}

.container {
   display: flex;
   flex-direction: column;
   background-color: var(--color4);
   color: var(--color6);
}

/* HEADER AND NAV BAR */

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   min-height: 100px;
   background-color: var(--color1);
   background-size: 100%;
}

#flex-news {
   background-color: #ff8177;
  background-image: linear-gradient(to top, var(--color6) 0%,var(--color4) 80%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
  padding-left: 1rem;
}
.hamburger-icon img {
   max-width: 100px;
}

.header-left {
   display: flex;
   align-items: center;
   color: var(--color5);
}

.header-right img {
   width: 100px;
   margin: 10px;
}

.header-left, .header-right p {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 1.4rem;
}

.header-right {
   display: flex;
   color: var(--color6);
   margin: 10px;
}

.header-right a {
   margin: 0px 20px;
}

nav {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: 3px;
   background-color: var(--color1);
}

.nav-bar-links {
   display: none;
   /*These flex properties are here because later I apply display:flex;*/
   flex-basis: 100%;
   justify-content: space-around;
}

/* MAIN CONTENT (CENTER) AND SIDEBARS AND FORM*/

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--color1);
   background-color: var(--color 3);
}

.main a {
   color: var(--color1);
}

.center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: var(--color6);
}
h2 {
   text-align: center;
   padding: 10px ;
}
/* FORM */
form {
   font-size: 1.3rem;
}

form > div {
   /* margin-left: 20px; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   min-height: 500px;
}

form > div > * {
   width: 70%;
}

label {
   display: block;
   margin: 0.2em 0em 0.4em;
}

.form {
   background-color: var(--color6);
}

form button {
   width: 75%;
   margin: 30px;
   color: var(--color6);
   background-color: var(--color1);
}

.error-message {
   display: block;
   margin-top: 3px;
   font-size: 0.8rem;
   color: red;
   max-width: 70%;
}

.showing-error {
   border: 2px solid red;
   border-radius: 3px;
}

.hidden {
   visibility: hidden;
}

.visible {
   display: block;
}
/* FORM END */

.main-notices-featured {
   margin: 15px 50px;
}

.main-notices-featured img {
   width: 100%;
   padding: 5px;
}

.main-notices-featured p {
   font-size: 18px;
}

.main-notices {
   padding: 25px 5px;
   border-bottom: 2px solid var(--color4);
}

.main-notices p {
   padding-top: 20px;
   font-size: 15px;
}

.main-notices img {
   display: none;
   width: 100%;
   padding: 30px 0px 5px;
}

.section {
   padding: 5px 15px 5px;
   color: var(--color3);
   text-decoration: underline;
}

.weather {
   background-color: var(--color6);
   text-align: center;
}

.center-and-weather {
   width: 100%;
   align-items: flex-start
}

.social {
   text-align: center;
   background-color: var(--color6);
}

.social img {
   width: 25%;
}



/* FOOTER */

.footer {
   background-color: var(--color1);
   font-size: 15px;
   text-align: center;
}

.footer p a {
   padding: 20px 0px 0px;
}

.footer-links {
   display: flex;
   justify-content: space-around;
   padding: 20px 0px;
}

.footer-links a:hover {
   color: var(--redish);
   text-decoration: none;
   transition: all 0.3s ease;
}

.copyright {
   padding-bottom: 20px;
}

/* MODAL */

#modal {
   --gap: 15px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   padding: var(--gap);
   background: rgba(0, 0, 0, 0.5);
   font-family: sans-serif;
   display: none;
 }

#modal__inner {
   background: var(--color6);
   color: var(--color1);
   width: 100%;
   max-width: 800px;
   overflow: hidden;
   border-radius: 4px;
}

#modal__top {
    display: flex;
    align-items: center;
    background: var(--color4);
    /* justify-content: space-between; */
}

#modal__title {
   flex-grow: 1;
   padding: 0 var(--gap);
   font-size: 40px;
}

#modal__close {
   display: flex;
   align-items: center;
   cursor: pointer;
   padding: var(--gap);
   background: none;
   border: none;
   outline: none;
}

#modal__content {
   padding: var(--gap);
   font-size: 10px;
}

#modal__bottom {
   text-align: right;
}

#modal__button {
   padding: var(--gap);
   margin: var(--gap);
   min-width: 150px;
   cursor: pointer;
   border: none;
   outline: none;
   border-radius: 4px;
}
/* Tablet screen code */

@media only screen and (min-width: 600px) {

   header {
      justify-content: space-around;
   }

   a {
      line-height: 100%;
   }

   .main {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
   }

   .center {
      width: 100%;
   }

   .form {
      width: 100%;
   }

   .center-and-weather {
      display: flex;
   }

   nav {
      padding: 15px;
   }

   .nav-bar-links {
      display: flex;
      font-size: 1.4rem;
      text-decoration: none;
   }

   .nav-bar-links a:hover{
      color: var(--redish);
      text-decoration: none;
      transition: all 0.3s ease;
   }

   .hamburger-icon img {
      display: none;
   }

   .weather {
      order: -1;
      width: 30%;
   }

   .center-and-weather {
      width: 100%;
   }

   .social {
      width: 100%;
   }

   .social img {
      width: 100px;
      height: 100px;
   }

   .follow-icons {
      display: flex;
      justify-content: center;
   }


}

/* Computer screen code */

@media only screen and (min-width: 950px) {

   .main {
      flex-wrap: nowrap;
   }

   .center-and-weather {
      width: 1000px;
   }

   .center {
      max-width: 800px;
   }
  /*FORM  */
   form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   form > div {
      flex: 1 1 50%;
   }
   /* FORM END */
   .weather {
      max-width: 230px;
   } 

   .main-notices img {
      display: inline;
   }

   .social {
      max-width: 230px;
   }
   
   .social img {
      height: 100px;
      padding-top: 10px;
   }

   .follow-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .footer-links {
      margin: 0px 20%;
   }

}
