:root {
   
   /*--color1: #272c3a;
   --color2: #3e3d50;
   --color3: #625770;
   --color4: #957a9a;
   --color5: #d9a8cc;
   --color6: #f0daea;*/

   /*
   --color1: #12295d;
   --color2: #7c408f;
   --color3: #00a3ff;
   --color4: #00faff;
   --color5: #4dffff;
   */
   
   --color1: #193751;
   --color2: #1b2f46;
   --color3: #516e79;
   --color4: #ced3da;
   --color5: #e2e1e1;
   --color6: #ffffff;
   
 }
 
/*  var(--color1) */

/* MOBILE FIRST DESIGN*/

body {
   
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px;
}

a {
   color: var(--color6);
   width: max-content;
   text-decoration: none;
}

.padding {
   padding: 5px;
}

.margin {
   margin: 20px;
}

.container {
   display: flex;
   flex-direction: column;
   background-color: var(--color4);
   color: var(--color6);
}

/* HEADER AND NAV BAR */

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   min-height: 100px;
   background-color: var(--color1);
}

.hamburger-icon img {
   width: 3em;
   max-width: 100px;
}

.header-left {
   display: flex;
   align-items: center;
   color: var(--color5);
}

.header-left img {
   width: 100px;
   margin: 10px;
}

.header-left, .header-right p {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 40px;
}

.header-right {
   margin-right: 1em;
   color: var(--color6);
}

.header-right {
   margin: 10px;
}

nav {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: 3px;
   background-color: var(--color1);
}

.nav-bar-links {
   display: none;
   /*These flex properties are here because later I apply display:flex;*/
   flex-basis: 100%;
   justify-content: space-around;

}

.nav-bar-links a:hover {
   text-decoration: underline;
}

/* MAIN CONTENT (CENTER) AND SIDEBARS*/

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--color1);
   background-color: var(--color 3);
}

.center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: var(--color6);
}

.main a {
   color: var(--color1);
}

.main-notices-featured {
   margin: 15px 50px;
}

.main-notices-featured img {
   width: 100%;
   padding: 5px;
}

.main-notices-featured p {
   font-size: 18px;
}

.main-notices {
   padding: 25px 5px;
   border-bottom: 2px solid var(--color4);
}

.main-notices p {
   padding-top: 20px;
   font-size: 15px;
}

.main-notices img {
   display: none;
   width: 100%;
   padding: 30px 0px 5px;
}

.section {
   padding: 5px 15px 5px;
   color: var(--color3);
   text-decoration: underline;
}

.weather {
   background-color: var(--color6);
   text-align: center;
}

.center-and-weather {
   width: 100%;
   align-items: flex-start
}

.social {
   text-align: center;
   background-color: var(--color6);
}

.social img {
   width: 25%;
}

/* FOOTER */

.footer {
   background-color: #272c3a;
   /* max-width: 100%; */
   font-size: 15px;
   text-align: center;
}

.footer p a {
   padding: 20px 0px 0px;
}

.footer-links {
   display: flex;
   justify-content: space-around;
   padding: 20px 0px;
}

.copyright {
   padding-bottom: 20px;
}

/* Tablet screen code */

@media only screen and (min-width: 600px) {

   .main {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
   }

   .center-and-weather {
      display: flex;
   }

   nav {
      padding: 20px;
   }

   .nav-bar-links {
      display: flex;
   }

   a {
      line-height: 100%;
   }

   .hamburger-icon img {
      display: none;
   }

   .weather {
      order: -1;
      width: 30%;
   }

   .center-and-weather {
      width: 100%;
   }

   .center {
      width: 100%;
   }

   .social {
      width: 100%;
   }

   .social img {
      width: 100px;
      height: 100px;
   }

   .follow-icons {
      display: flex;
      justify-content: center;
   }


}


/* Computer screen code */


@media only screen and (min-width: 950px) {

   .main {
      flex-wrap: nowrap;
   }

   .center-and-weather {
      width: 1000px;
   }

   .center {
      max-width: 800px;
   }

   .weather {
      max-width: 230;
   } 

   .main-notices img {
      display: inline;
   }

   .social {
      max-width: 230px;
   }
   
   .social img {
      /* width: 50%; */
      height: 100px;
      padding-top: 10px;
   }

   .follow-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .footer-links {
      margin: 0px 20%;
   }


}
